*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 75%;
    margin: auto;
    .row{
        background-color: #f2f2f2;
        display: flex;
        .col{
            width: 25%;
            padding: 20px;
            .card{
                padding: 20px;
                box-shadow: 0 0 10px #ccc;
                border-radius: 10px;
                background-color: #fff;
                .img-col{
                    position: relative;
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    p{
                        font-size: 13px;
                        background-color: green;
                        border-radius: 10px 0 10px 0;
                        color: #fff;
                        position: absolute;
                        top: 0;
                        padding: 3px;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            
        }
    }
}

.det-sec{
    .container{
        width: 70%;
        margin: auto;
        .det-row{
            padding: 5% 0;
            display: flex;
            .det-col{
                width: 50%;
                .det-card{
                    padding: 20px;
                    span{
                        color: #ccc;
                    }
                    h4{
                        padding: 10px 0;
                        span{
                            color: #999;
                            font-weight: normal;
                            font-size: 14px;
                        }
                    }
                    p{
                        color: green;
                    }
                    .btn-row{
                        display: flex;
                        justify-content: space-between;
                        padding: 15px 0;
                        .btn1{
                            width: 45%;
                            button{
                                border-radius: 5px;
                                background-color: red;
                                padding: 15px;
                                border: 0;
                                width: 100%;
                                color: #fff;
                                font-size: 18px;
                                cursor: pointer;
                            }
                            // background-color: red;
                        }
                        .btn2{
                            width: 45%;
                            button{
                                border-radius: 5px;
                                padding: 15px;
                                width: 100%;
                                background-color: #fff;
                                border: 1px solid #999;
                                font-size: 18px;
                                cursor: pointer;
                            }
                        }
                    }
                    .extra{
                        // background-color: red;
                        // padding: 10px;
                        .extra-col{
                            padding: 10px;
                            .extra-card{
                                display: flex;
                                justify-content: space-between;
                                border: 1px solid #ccc;
                                border-radius: 5px;
                                // padding: 10px;
                                div{
                                    padding: 10px;
                                    p{
                                        color: #000;
                                        font-weight: bold;
                                    }
                                    li{
                                        // color: red;
                                        list-style-type:none ;
                                    }
                                    span{
                                        color: green;
                                    }
                                }
                            }
                        }
                    }
                    
                }
                .img-card{
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}